body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 150%;
  font-family: "Times New Roman", serif;
  text-align: center;
  background: wheat;
}

ul, ol {
  list-style-position: inside;
  padding-inline-start: 1%;
  margin: 0px;
}

section {
  border-bottom: 2px solid #ccccccf8;
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  background-color: olive;
}

.intro {
  display: flex;
}

.aboutMe {
  display: flex;
  flex-direction: column;
}

.intro div {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.intro ul {
  display: contents;
}

header {
  display: flex;
  flex-direction: column;
  background: goldenrod;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  margin: 0;
  padding-top: 0;
  font-size: 150%;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h3 {
  margin: 0%;
}

p {
  margin: 0%;
}

a {
  color: black;
}

.footer li {
  text-align: left;
  display: inline;
  font-size: 14px;
}

.iconRs {
  text-align: center;
  width: 10%;
}

.avatar {
  width: 20%;
  border-radius: 10%;
}

.Experience p {
  padding-left: 2%;
}

footer p {
  font-size: 14px;
}
